.git/
.gitignore
.DS_Store
.idea/
.vscode/
*.swp
*.swo

venv/
.venv/
env/
*.pyc
__pycache__/
*.py[cod]

.env
.env.prod
.env.dev
secrets/
*.key
*.pem

*.log
*.cache
*.pid


*.sqlite3
*.db

node_modules/
dist/
webpack-stats.json